.menu{
    width: 10px;
}

.tableData{
    margin: 5% 15% 5% 15%;
    
}
.header{
    font-size: x-large;
    padding-left: 2%;
    padding-bottom: 5%;   
}
.rows{
   
    padding: 2%;
    font-size: medium;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.status{
    font-size: medium;
    padding: 7%;
}

.cmtbtn{
    padding: 5%;
}