.menuitems{
    padding-top:20%;
    font-size: larger;
}

.r1{
    font-size: x-large;
    background-color: rgb(17,17,17);
    text-align: center;
    padding: 5%;
}

.tb{
    padding: 2000px;
}

.logout{
    width: 25%;
}
.chakra-button:hover{
    background-color: rgb(41, 41, 41);
}

.r1:hover{
    background-color: rgb(41, 41, 41);
    font-weight: bold;
}