.menuitems{
    padding-top:20%;
    font-size: larger;
    color:white;
}

.r1{
    font-size: x-large;
    background-color: rgb(41, 41, 41);
    text-align: center;
    padding: 5%;
    color:white;
}

.tb{
    padding: 2000px;
}

.logout{
    width: 25%;
    color: white;
    
}
.chakra-button:hover{
    background-color: rgb(41, 41, 41);
}

.r1:hover{
    background-color: rgb(41, 41, 41);
    font-weight: bold;
}
.logout:hover{
    font-weight: bolder;
}