.navbar-wlc>ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    border-bottom: 2px solid gray;
}

.navbar-wlc>ul>li:nth-child(-n+1){
    width: 80%;

}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
    width: 72%;
    height: auto;

}

.cards-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

